// src/components/QueueList.module.scss
.queueList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.queueItem {
  margin-bottom: 15px; // Space between queue items
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }

  h3 {
    margin: 0 0 10px;
  }

  p {
    margin: 0;
    color: #666;
  }
}
